/* THE START POINT OF CODE FOR LOGIN PAGE */

.login-div{
    width: fit-content;
    margin: 0px auto;
    margin-top: 11%;
    align-items: center;
}

.login-label{
    color: #016BC1;
    }

.login-input{ 
    width: 300px;
    height: 30px;
    border: 1px solid #016BC1;
    border-radius: 2px;
    font: 15px Arial;
    margin-left: 10px;
    display: block;
    padding-left: 4px;
    }

.login-input:focus{
        box-shadow: 0px 0px 1px #016BC1;
    }

.button-adjust{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        margin-top: 40px;
    }

.login-button{
        text-decoration: none;
        width: 140px;
        padding: 8px 0px;
        background: #016BC1;
        text-align: center;
        border: none;
        border-radius: 1px;
        font: 14px Dosis;
        color: #FFFFFF;
    }
   
.login-button:active{
        position: relative;
        top: 2px;
    }
        
/* THE END POINT OF CODE FOR LOGIN PAGE */

/* START POINT CODE FOR STUDENT PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
nav {
    position: sticky;
    top: 0;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    background: #1464BE;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    padding: 5px 0;
    text-align: center;
}

a{
    text-decoration: none;
}

nav ul li a{
    transition: all 0.5s;
    line-height: 33px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

nav ul li a:hover {
    border-bottom: 0.5px solid white;
    transition: all 0.5s;
}

nav ul li:nth-child(1) {
    text-transform: uppercase;
    grid-column: 2/5;
}

nav ul li:nth-child(2) {
    grid-column: 5/7;
}


nav ul li:nth-child(3) {
    grid-column: 7/9;
}

nav ul li:nth-child(4) {
    grid-column: 9/11;
}

nav ul li:nth-child(5) {  
    grid-column: 11/13;
}

nav ul li:nth-child(6) {  
    grid-column: 13/15;
}

nav ul li:nth-child(7) {  
    grid-column: 15/17;
}

nav ul li:nth-child(8) {  
    grid-column: 17/19;
}

nav ul li:nth-child(9) { 
    grid-column: 19/21;
}

nav ul li:nth-child(10) { 
    grid-column: 22/23;  
}

form main div select{
    display: block;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 15px;
    margin-left: 10px;
    border: 1px solid #1464BE;
    height: 20px;
    padding: 4px 4px;
    background: white;
}
nav ul li img {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: white;
}

#content {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 100%;
    color: #1464BE;
}

section {
    grid-column: 1/2;
    grid-row: 1/1;
    padding: 50px 40px;
}

main {
    grid-column: 2/5;
    grid-row: 1/1;
    padding: 50px 40px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#main div:nth-child(1) {
    grid-column: 1/2;
}

#main  div:nth-child(2) {
    grid-column: 2/3;
}

#main div:nth-child(1) input {
    display: block;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 15px;
    margin-left: 10px;
    border: 1px solid #1464BE;
    height: 20px;
    padding: 4px 4px;
}

#main div:nth-child(1) input:focus{
    outline: 2px solid black;
}

#main div:nth-child(1) select:focus{
    outline: 2px solid black;
}

#main div:nth-child(2) div{
    height: 200px;
    width: 160px;
    border: 1px solid #1464BE;
    margin-left: 60px;
}

.photo{
    height: 200px;
    width: 160px;
    /* border: 1px solid #1464BE; */
    /* margin-left: 60px; */
}
#main div:nth-child(2) input{
    margin-top: 10px;
    margin-left: 40px;
    padding: 10px 20px;
    cursor: pointer;
}

#main div:nth-child(2) label {
    margin-left: 40px;
}

aside {
    background: #A1C1E6;
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
}

aside div:nth-child(1) {
    padding: 20px 25px;
}

aside div:nth-child(3) {
    display: flex;
    position: absolute;
    background: #1464BE;
    width: 100%;
    height: 50px;
    bottom: 40px;
    justify-content: space-around;
    align-items: center;
}

aside div a {
    color: white;
}

aside div>p {
    color: black;
    margin-bottom: 30px;
    text-align: justify;
}

.click{
    position: relative;
}

.click:active{
    top: 2px;
}


.button-style{
    background: #1464BE; 
    width: 125px;
    height: 20px; 
    border: none;
    padding: 4px 4px; 
    color: white;
}
/* END POINT CODE FOR STUDENT PAGE */
/* START POINT FOR STUDENT NIGHT SHIFT PAGE*/
hr{
    border: none;
    height: 1px;
    background: #1464BE;
    width: 103%;
}
/* END POINT FOR STUDENT NIGHT SHIFT PAGE*/

/* START POINT FOR STUDENT LIST PAGE CODE */

*{
    box-sizing: border-box;
}

.back-symbol{
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    position: relative;
    top: -4px;
    transform: rotate(45deg);
}

.heading-style{
    color: white;
    background:  #1464BE;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    /* width: 100%; */
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

#dash-header div  div:nth-child(1){
    grid-column: 1/2;
    font-size: 20px;
    margin-top: 35px;
    color: #1464BE;
    padding-left: 20px;
}

#dash-header div div h1.heading-style{
    font-size: 30px;
}

#dash-header div div:nth-child(2){
    grid-column: 3/4;
    margin-top: 16px;
    margin-left: 60px;
}

#dash-header {
    position: fixed;
    top: 0px;
    background: white;
    z-index: 1000;
    width: 100%;
}

::placeholder{
    color: #1464BE;
    font-size: 15px;
}

#dash-header select{
    width: 20px;
    border: 2px solid #1464BE;
    color: #1464BE;
    border-right: none;
    height: 28px;
    /* padding: 4px 4px; */
    background: white;
    position: relative;
    top: -2.5px;
    outline: none;
}

#dash-header div div input{
    width: 88%;
    border: 2px solid #1464BE;
    border-left: none;
    height: 28px;
    font-size: 20px;
    background: white;
    padding: 0 10px;
}

#search-icon{
    position: absolute;
    right:2.5%;
    top: 92px;
    color: #1464BE;
}

#search-icon:hover
{
    color: black;
}

#std-m table
{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 1500px;
    /* border: 3px solid red; */
    padding: 10px 20px;
    margin-top: 140px;
}

#table-div{
    width: 1230px;
}

#std-m div table thead tr th{
    /* padding: 7px 2px; */
    position: sticky;
    top: 147px;
    border-right: 1px solid rgba(192, 192, 192, 0.753);
    background-color: #1464BE;
}

#std-m div table td,th{
    color: #1464BE;
    padding: 5px 3px;
    border: 1px solid #1464BE;
    border-left: none;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: capitalize;
    color: black;
    text-shadow: 0px 0px 1px black;
}

#std-m div table th{
    color: white;
    z-index: 100;
}

#std-m div table td:last-child{
    border-right: 1px solid #1464BE;
    padding: 0px;
    position: sticky;
    right: 20px;
    background: white;
    border-left: 1px solid #1464BE;
    box-shadow: 84px 0px 0px 3px white;
}

#std-m div table tr th:last-child{
    border-right: 1px solid #1464BE;
    position: sticky;
    right: 20px;
    box-shadow: 84px 0px 0px 1px white;
    border-left: 1px solid rgb(238, 232, 232);

}

#std-m div table td:first-child{
    position: sticky;
    left: 20px;
    background: rgb(255, 255, 255);
    border: 1px solid #016BC1;
    box-shadow: -51px 0px 0px 3px white;
}
#std-m div table tr th:first-child{
    position: sticky;
    top: 147px;
    box-shadow: -51px 0px 0px 3px white;
    left: 20px;
    border: 1px solid #016BC1;
    z-index: 900;
    border-right: 1px solid rgba(220, 226, 233, 0.753);
}

#std-m table button{
    background: #1464BE;
    border: 1px solid #1464BE;
    position: relative;
    top: 0.7px;
    color: white;
    margin: 0px 1px;
    margin-right: 2px;
    width: 97%;
    height: 25px;
}

#std-m table button:active{
    top: 2px;
    left: 2px;
}

/* END POINT FOR STUDENT LIST PAGE CODE */

