<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <i class="fas fa-chevron-left dashboard-back-icon"></i>
        <p>Dashboard</p>
    </nav>
    <div class="cards--container">
        <div class="card card--small-width">
            <div class="card-disp card-disp--small-size">
                <i class="fas fa-university card--icon card--icon--small-size"></i>
            </div>
            <div class="card--title card--title--small-size">
                <text class="card--title-text card--title-text-small">
                    Faculty
                </text>
            </div>
        </div>
        <div class="card card--small-width">
            <div class="card-disp card-disp--small-size">
                <i class="fas fa-chalkboard-teacher card--icon card--icon--small-size"></i>
            </div>
            <div class="card--title card--title--small-size">
                <text class="card--title-text card--title-text-small">
                    Teacher
                </text>
            </div>
        </div>
        <div class="card card--small-width">
            <div class="card-disp card-disp--small-size">
                <i class="fas fa-scroll card--icon card--icon--small-size"></i>
            </div>
            <div class="card--title card--title--small-size">
                <text class="card--title-text card--title-text-small">
                    Report
                </text>
            </div>
        </div>
        <div class="card card--large-width">
            <div class="card-disp card-disp--large-size">
                <i class="fas fa-user-friends card--icon card--icon--large-size"></i>
            </div>
            <div class="card--title card--title--large-size">
                <text class="card--title-text card--title-text-large">
                    Student
                </text>
            </div>
        </div>
        <div class="card card--large-width">
            <div class="card-disp card-disp--large-size">
                <i class="fas fa-home card--icon card--icon--large-size"></i>
            </div>
            <div class="card--title card--title--large-size">
                <text class="card--title-text card--title-text-large">
                    Hostel
                </text>
            </div>
        </div>
    </div>
    

</body>
</html>