<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Night Shift Group</title>
    <link rel="stylesheet" href="../static/css/font/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#" style="border: none;">health institute</a></li>
            <li><a href="#">Teacher</a></li>
            <li><a href="#"
                    style="background: white; border-radius: 20px; padding: 5px 10px; color: #1464BE;">Student</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Hostel</a></li>
            <li><a href="#">Course</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Attendance</a></li>
            <li><a href="#">Staff</a></li>
            <li>
                <!-- <i class="fas fa -user" style="font-size: 30px;"></i> -->
                <img src="#" alt="">
            </li>
        </ul>
    </nav>

    <div id="content">

        <section>
            <h1>Add Group ></h1>
        </section>

        <form action="#" method="post">

            <main id="main">

                <div>
                    <h2>Select Teacher</h2>
                    <br>
                    <label for="teacher">Teacher_Name</label>
                    <select name="teacher" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <hr>
                    <br>
                    <h2>Select Students</h2>
                    <br>
                    <label for="student_1_name">Student_1_Name</label>
                    <select name="student_1_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_2_name">Student_2_Name</label>
                    <select name="student_2_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_3_name">Student_3_Name</label>
                    <select name="student_3_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_4_name">Student_4_Name</label>
                    <select name="student_4_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_5_name">Student_5_Name</label>
                    <select name="student_5_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_6_name">Student_6_Name</label>
                    <select name="student_6_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="student_7_name">Student_7_Name</label>
                    <select name="student_7_name" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <hr>
                    <br>
                    <h2>Select Course and Date</h2>
                    <br>
                    <label for="course">Course_Name</label>
                    <select name="course" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="date">Date</label>
                    <input type="date" name="date" id="" required>

                    <div style="margin: 0; margin-top: 30px;  display: flex; justify-content: space-around;">

                        <button type="submit" class="button-style">Save</button>
                        <button type="reset" class="button-style" id="btn-clear">Cancel</button>

                    </div>
                </div>

            </main>

        </form>

        <aside>

            <div>
                <p>Notification</p>
                <p>Lorem ndis labore quod eligendi obcaecati animi pariatur nostrum eius consequatur blanditiis corporis
                    aperiam culpa ad aliquid atque inventore, maiores dolores perspiciatis.</p>
                <p>Lorem, ip commodi rem corrupti saepe voluptatibus repellendus pariatur doloribus quis nobis
                    consequuntur fugiat? Tempore cumque autem culpa quod, impedit repellat et aut!</p>
                <p>Lorem ipstam quas doibero reprehenderit tempora porro explicabo ea doloribus molestiae enim.</p>
            </div>

            <p style="margin: 0 0 0 10px; position: fixed; bottom: 50px; color: white;">Powered By: CodeX</p>

            <div>
                <a href="">
                    <i class="fab fa-facebook" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram" style="font-size: 20px;"></i>
                </a>
            </div>

        </aside>

    </div>
    <script src="../static/js/script.js">

    </script>
</body>

</html>